  @use "./func" as func;
  @use './global/boilplate' as break;
  @forward "global";


  // Desktop Version


  .container {
    @include func.gridCenter();
    height: 100%;
    width: min(100%, 1000px);
    margin: auto;

    // card styling

    .faq-card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      background-color: var(--lightGrayBlue-clr);
      border-radius: 20px;
      padding:50px;
      
      overflow: hidden;

      // Q section

      .Questions {
        grid-column: 2;
        line-height: 2;
        .faq{
          
          details{  


            summary{
              cursor: pointer;
              list-style: none;
              padding-right: 50px;
              list-style-position: outside;
              position: relative;
              &:hover{
                color: var(--softRed-clr);
              }
              // changing the movement
              &::after{
                content: '';
                position: absolute;
                background: url(../images/icon-arrow-down.svg) no-repeat center ;
                inset: 0;
                left: 16.5rem;
                transition: .1s all linear;
                cursor: pointer;
                background-size:15px ;
              }
              }
            span{
              word-wrap: break-word;
              word-break: break-word;
              display: block;
              width: 250px;
              padding-left: 10px;
              font-size: var(--size);
            }
            &[open]>summary::after{
              transform: rotate(180deg) ;
            }
          }
          
            
        }
      }
    }
  }



  // the big SVG

  .img {
    position: relative;
    display: inline-flex;
    grid-area: 1;
    // z-index: 3;
 
   
    &__desktop,
    &__box,&__women {
      position: absolute;
      width: 350px;
      top: 50%;
      left: 50%;

      transform: translate(-250px,-150px);
    }
    &__box {
      position: fixed;
      transform: translate(-430px,-50px);
      width: 150px;
      z-index: 10;
      
    }
  }



  // mobile version

@include break.breakpoints(small){
  
  .container{
    .faq-card{
      @include func.flexCenter();
      flex-direction: column-reverse;
      // text-align: center;
      overflow:visible;
      gap: 0;
      padding: 80px 10px;
      h1{
        text-align: center;
      }
      .Questions{

        summary{
          &::after{
            inset: 0;
          
            width: 20px;
          }
        }
      }
    }
    .img{
      position: relative;
      // inset: 0;
      &__box,&__women,&__desktop{
        width: 150px;
        position: absolute;
        top:20%;
        left: 50%;
        transform: translate(-50%,-130%);
      }
      &__box{

        width: 50px;
        transform: translate(-70px,-100px);
      }
    }
  }
}
