*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  background: linear-gradient(
      360deg,
      var(--softBlue-clr),
      var(--softViolet-clr)
    )
    no-repeat;
  height: 100vh;
  color: var(--veryDarkGrayBlue-clr);
}

// 700px for mobile
// 900px for tablet
// 1440px for desktop
$breakpoint-devices:(
  "small":700px,
  'medium':900px,
  'large':1440px,
);
@mixin breakpoints($size) {
  @media  (max-width:map-get($breakpoint-devices,$size)) {
    @content
  }
}