:root {
  // primary
  --veryDarkBlue-clr: hsl(238, 29%, 16%);
  --softRed-clr: hsl(14, 88%, 65%);
  // background gradient
  --softViolet-clr: hsl(273, 75%, 66%);
  --softBlue-clr: hsl(240, 73%, 65%);
  // Neutral Text
  --veryDarkGrayBlue-clr: hsl(237, 12%, 33%);
  --darkGrayBlue-clr: hsl(240, 6%, 50%);
  // Dividers
  --lightGrayBlue-clr: hsl(240, 5%, 91%);
  // Fonts
  --size: 12px;
  --family: "Inter", sans-serif;
  --weight-400: 400;
  --weight-700: 700;
}
